@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

$primary: #002f3b;
$secondary: #005165;
$background: #d1d5db;
$text: rgba(255, 255, 255, 0.87);

*,
*::before,
*::after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body {
  background: rgba($background, 0.6);
  font-family: 'Oxygen', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  color: $primary;
}

header {
  background: $primary;
  .logo {
    color: $text;
    cursor: pointer;
  }
}

.carousel-inner {
  h5,
  p {
    color: $text;
  }
}
.hamburger {
  cursor: pointer;
}
.sidebar {
  display: none;
  color: $text;
  z-index: 999;
  ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
    li {
      cursor: pointer;
      list-style-type: none;
      transition: 0.3s ease;

      &:hover {
        background-color: $secondary;
        border-radius: 12px;
      }
    }
    .active {
      background-color: $secondary;
      border-radius: 12px;
      transition: 0.3s ease;
    }
  }
}

.card {
  background: $background;
  h5 {
    color: $primary;
  }
}

@media screen and (min-width: 576px) {
  .latest-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }
}

main {
  padding: 0px;
}

@media screen and (min-width: 768px) {
  header {
    height: 100vh;
    width: 25% !important;
    position: fixed;
    z-index: 2;
  }
  .sidebar {
    display: block;
  }
  main {
    margin-left: 25%;
    width: 75% !important;
  }
  .c-carousel {
    padding: 1rem;
    .carousel-inner {
      border-radius: 12px;
      img {
        overflow: hidden;
        height: 100vh;
        object-fit: cover;
        background-image: linear-gradient(to top red green);
      }
    }
  }
}
@media screen and (min-width: 992px) {
  header {
    width: 20% !important;
  }
  main {
    margin-left: 20%;
    width: 80% !important;
  }
  .latest-news {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
