*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.sidebar {
  width: 20vw;
  height: 100vh;
  .hamburger {
    cursor: pointer;
  }
  nav {
    margin-top: 1rem;
  }
}
.nav_ul {
  li {
    cursor: pointer;
    &:hover {
      background-color: rgb(66, 61, 61);
      border-radius: 12px;
    }
  }
}
